<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
      xmlns="http://www.w3.org/1999/html">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DONATE & TAKE</title>
    <link rel="stylesheet" href="https://headervideo.github.io/hvheadervideo/css/fontawesome.min.css">
    <link href="https://headervideo.github.io/hvheadervideo/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://headervideo.github.io/hvheadervideo/css/mdb.min.css" rel="stylesheet">
    <link href="https://headervideo.github.io/hvheadervideo/css/style.css" rel="stylesheet">
</head>
<body>
<!--Main Navigation-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'homeurl:logout' %}">LOGOUT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">


        </div>
    </nav>
</header>

<div class="view hm-white-light jarallax" data-jarallax='{"speed": 5.2}'

     data-jarallax-video="https://www.youtube.com/watch?v=SKVcQnyEIT8">

    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row">
                <div class="col-md-12 wow fadeIn">
                    <div class="text-center text-danger">
                        <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">DONATE BOOK&TAKE AWAY</h1>
                        <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">First Website
                            In Which <br>You can <b>Donate Your Book</b> <b>And TAke Away Free</b>
                        </h5>
                        <a class="btn btn-danger btn-lg wow fadeInDown" data-wow-delay="0.4s"
                           href="{% url 'homeurl:donate'%}"> book donate</a>
                        <a class="btn btn-primary btn-lg wow fadeInDown" data-wow-delay="0.4s"
                           href="{% url 'homeurl:take'%}"> take away</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


</div>

</div>
</div>
</div>

<script type="text/javascript" src="https://headervideo.github.io/hvheadervideo/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://headervideo.github.io/hvheadervideo/js/popper.min.js"></script>
<script src="https://headervideo.github.io/hvheadervideo/js/bootstrap.min.js"></script>
<script src="https://headervideo.github.io/hvheadervideo/js/mdb.min.js"></script>
<script src="https://headervideo.github.io/hvheadervideo/js/jarallax.js"></script>
<script src="https://headervideo.github.io/hvheadervideo/js/jarallax-video.js"></script>
<script>
       new WOW().init();





</script>
</body>
</html>
<!--&lt;!&ndash;{% load static %}&ndash;&gt;-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'bookstore/dota.css' %}"/>-->
<!--<!DOCTYPE html>-->


<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>dota</title>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">-->

<!--&lt;!&ndash; jQuery library &ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>-->

<!--&lt;!&ndash; Popper JS &ndash;&gt;-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->

<!--&lt;!&ndash; Latest compiled JavaScript &ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/1.11.1/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-light bg-light">-->
<!--<a class="navbar-brand" href="{% url 'homeurl:logout' %}">-->

<!--Logout-->
<!--</a>-->
<!--</nav>-->
<!--<div class="container">-->
<!--<a href="{% url 'homeurl:donate'%}" class="btn btn-1">DONATE BOOK</a>-->
<!--<a href="{% url 'homeurl:take'%}" class="btn btn-2">TAKE AWAY</a>-->
<!--</div>-->
<!--&lt;!&ndash;<nav class="navbar navbar-light bg-light">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="navbar-brand" href="{% url 'homeurl:logout' %}">&ndash;&gt;-->

<!--&lt;!&ndash;Logout&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;<h5 class="card-title">Special title treatment</h5>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="{% url 'homeurl:donate'%}" class="btn btn-primary">Donate Book</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;<h5 class="card-title">Special title treatment</h5>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="{% url 'homeurl:take'%}" class="btn btn-primary"> Take Away </a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->


<!--</body>-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
