<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bookstore/novel.css' %}"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eleanor & park</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'homeurl:hemu'%}">
        {% load static %}
        <img src="{% static 'bookstore/images/hicon.png' %}" width="30" height="30" class="d-inline-block align-top"
             alt="">
        Home
    </a>
</nav>
<div class="card" style="width: 90rem;">
    <img class="card-img-top" src="{% static 'bookstore/images/novels/fangirl1.png' %}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">


            Author: Rainbow Rowell

            Genres: Young Adult

        </h5>

        <p class="card-text">ONE

            There was a boy in her room.

            Cath looked up at the number painted on the door, then down at the room assignment in her hand.

            Pound Hall, 913.

            This was definitely room 913, but maybe it wasn’t Pound Hall—all these dormitories looked alike, like public
            housing towers for the elderly. Maybe Cath should try to catch her dad before he brought up the rest of her
            boxes.

            “You must be Cather,” the boy said, grinning and holding out his hand.

            “Cath,” she said, feeling a panicky jump in her stomach. She ignored his hand. (She was holding a box
            anyway, what did he expect from her?)

            This was a mistake—this had to be a mistake. She knew that Pound was a co-ed dorm.… Is there such a thing as
            co-ed rooms?

            The boy took the box out of her hands and set it on an empty bed. The bed on the other side of the room was
            already covered with clothes and boxes.

            “Do you have more stuff downstairs?” he asked. “We just finished. I think we’re going to get a burger now;
            do you want to get a burger? Have you been to Pear’s yet? Burgers the size of your fist.” He picked up her
            arm. She swallowed. “Make a fist,” he said.

            Cath did.

            “Bigger than your fist,” the boy said, dropping her hand and picking up the backpack she’d left outside the
            door. “Do you have more boxes? You’ve got to have more boxes. Are you hungry?”

            He was tall and thin and tan, and he looked like he’d just taken off a stocking cap, dark blond hair
            flopping in every direction. Cath looked down at her room assignment again. Was this Reagan?

            “Reagan!” the boy said happily. “Look, your roommate’s here.”

            A girl stepped around Cath in the doorway and glanced back coolly. She had smooth, auburn hair and an unlit
            cigarette in her mouth. The boy grabbed it and put it in his own mouth. “Reagan, Cather. Cather, Reagan,” he
            said.

            “Cath,” Cath said.

            Reagan nodded and fished in her purse for another cigarette. “I took this side,” she said, nodding to the
            pile of boxes on the right side of the room. “But it doesn’t matter. If you’ve got feng shui issues, feel
            free to move my shit.” She turned to the boy. “Ready?”

            He turned to Cath. “Coming?”

            Cath shook her head.

            When the door shut behind them, she sat on the bare mattress that was apparently hers—feng shui was the
            least of her issues—and laid her head against the cinder block wall.</p>
    </div>
</div>

</body>
</html>