<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bookstore/shortstory.css' %}"/>

<head>
    <meta charset="UTF-8">
    <title>short story</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'homeurl:hemu'%}">
        {% load static %}
        <img src="{% static 'bookstore/images/hicon.png' %}" width="30" height="30" class="d-inline-block align-top"
             alt="">
        Home
    </a>
</nav>
<div class="container" style="background-color:lightgray;height:600px;width:900px;">
    <h4>NOVELS</h4>


    <div class="row">
        <div class="col-sm-4">
            <img src="{% static 'bookstore/images//novels/park.jpg' %}" alt="A image"
                 style="height:100px;width:150px;"/>
            <br>
            <a href="{% url 'homeurl:novels'%}" class="btn btn-two">Eleanor & Park</a>

        </div>
        <div class="col-sm-4">
            <img src="{% static 'bookstore/images//novels/fangirl.jpg' %}" alt="A image"
                 style="height:100px;width:150px;"/>
            <br>
            <a href="{% url 'homeurl:novels1'%}" class="btn btn-two">FANGIRL</a>

        </div>
        <div class="col-sm-4">
            <img src="{% static 'bookstore/images//novels/origin.jpg' %}" alt="A image"
                 style="height:100px;width:150px;"/>
            <br>
            <a href="{% url 'homeurl:novels1'%}" class="btn btn-two">ORIGIN</a>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'bookstore/images/novels/boyfriend.jpg' %}" alt="A image"
                         style="height:100px;width:150px;"/>
                    <br>
                    <a href="{% url 'homeurl:novels1'%}" class="btn btn-two">fill in boyfriend</a>
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'bookstore/images/novels/fence.jpg' %}" alt="A image"
                         style="height:100px;width:150px;"/>
                    <br>
                    <a href="{% url 'homeurl:novels1'%}" class="btn btn-two">On the fence</a>
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'bookstore/images/novels/before.jpg' %}" alt="A image"
                         style="height:100px;width:150px;"/>
                    <br>
                    <a href="{% url 'homeurl:novels1'%}" class="btn btn-two">To all the boy i've</a>


                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{% static 'bookstore/images/novels/pretty.jpg' %}" alt="A image"
                                 style="height:100px;width:150px;"/>
                            <br>
                            <a href="{% url 'homeurl:novels1'%}" class="btn btn-two">The summer i turned</a>
                        </div>
                        <div class="col-sm-4">
                            <img src="{% static 'bookstore/images/novels/rules.jpg' %}" alt="A image"
                                 style="height:100px;width:150px;"/>
                            <br>
                            <a href="{% url 'homeurl:novels1'%}" class="btn btn-two">Beautiful broken rules</a>
                        </div>
                        <div class="col-sm-4">
                            <img src="{% static 'bookstore/images/novels/index.jpg' %}" alt="A image"
                                 style="height:100px;width:150px;"/>
                            <br>
                            <a href="{% url 'homeurl:novels1'%}" class="btn btn-two">The great indian novel</a>


                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="{% static 'bookstore/images/novels/god.jpg' %}" alt="A image"
                                         style="height:100px;width:150px;"/>
                                    <br>
                                    <a href="{% url 'homeurl:novels1'%}" class="btn btn-two">The god of small things</a>
                                </div>
                                <div class="col-sm-4">
                                    <img src="{% static 'bookstore/images/novels/tiger.png' %}"
                                         alt="A image"
                                         style="height:100px;width:150px;"/>
                                    <br>
                                    <a href="{% url 'homeurl:novels1'%}" class="btn btn-two">The white tiger</a>
                                </div>
                                <div class="col-sm-4">
                                    <img src="{% static 'bookstore/images/novels/boy.jpg' %}" alt="A image"
                                         style="height:100px;width:150px;"/>
                                    <br>
                                    <a href="{% url 'homeurl:novels1'%}" class="btn btn-two">The suitable boy</a>


                                </div>
                            </div>

</body>
</html>