 body{
    background: white url("images/loginbg.jpg") no-repeat;
    height:100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;

}
.btn-two
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-two:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
}